__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.pt
*.pth
checkpoints/
logs/
runs/

data/
*.npz
*.npy
*.h5
*.ckpt

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.env