pip>=23.1.2
setuptools>=68.0.0
wheel>=0.40.0

torchmetrics>=0.11.4

numpy>=1.25.0
scipy>=1.8
matplotlib>=3.7.1
scikit-image>=0.19
Pillow>=9.0
tqdm>=4.65.0

pandas>=2.0
scikit-learn>=1.2

kaggle>=1.5

tensorboard>=2.15